.treewrapper {
margin-left: 10px;
}

.treeitem {
color: blue;
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
border: #888888 solid 1px;
}


/* Main Appbar*/
.tabdown {
font-family: Arial, Helvetica, sans-serif;
background-image:  url(/hotelbackend/hotelbackendimages/tab.jpg);
font-size: 9pt;
font-weight: bold;
text-align: center;
vertical-align: middle;
border-bottom: 1px solid #070872;
color: #070872;
}

.tabdown_mouseover {
font-family: Arial, Helvetica, sans-serif;
background-image: url(/hotelbackend/hotelbackendimages/tabSelected.jpg);
font-size: 9pt;
color:#a91930;
font-weight: bold;
text-align: center;
vertical-align: middle;
border-bottom: 1px solid #070872;
}

.tabup {
padding-top:1px;
font-family: Arial, Helvetica, sans-serif;
background-image: url(/hotelbackend/hotelbackendimages/tabSelected.jpg);
font-size: 11pt;
color:#a91930;
font-weight: bold;
text-align: center;
vertical-align: middle;
border-bottom: 1px solid #f9f4a2;
}

.tabup_mouseover {
font-family: Arial, Helvetica, sans-serif;
background-image: url(/hotelbackend/hotelbackendimages/tabSelected.jpg);
font-size: 9pt;
font-weight: bold;
text-align: center;
vertical-align: middle;
border-bottom: 1px solid #f9f4a2;
color:#a91930;
}

.appbar {
width:100%;
}

.appbarleft {
border-bottom: 1px solid #070872;
margin-left:9px;
}

.appbarright {
border-bottom: 1px solid #070872;
margin-right:40px;
}

/* Main Appbar END*/


.backendBottom {
margin: 5px;
}


/* Main Area's */
DIV.centerarea {
border-left: 1px solid #070872;
border-right: 1px solid #070872;
border-bottom: 1px solid #070872;
padding:10px;
background-color: #f9f4a2;
}

DIV.contentarea {
background-color: #FFFFFF;
border-left: solid #070872 1px;
border-right: solid #070872 1px;
border-bottom: solid #070872 1px;
border-top: solid #070872 1px;
padding: 10px;
}

DIV.endcolumns {
  clear: both;
}  
/* Main Area's END*/


/* TabBars */
.tabContainer {
background: #FFFFFF;
padding-top: 4px;
margin-bottom: 10px;
}

A.tabButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #070872;
background: #B4B0AA;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border: solid #070872 1px;
}

A.tabButton:hover {
color: #FFFFFF;
background: #B4B0AA;
border: solid #070872 1px;
}

A.tabButtonSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
background: #a91930;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border: solid #070872 1px;
}
/* TabBars END*/


/* AppHeaders */
.apptitle {
font-family: Verdana, Arial, Helvetica, sans-serif;
letter-spacing:2px;
background-color: #f9f4a2;	
font-size: 10pt;
font-weight: bold;
color: #a91930;	
display: block;
width: 100%;
margin-bottom: 2px;
text-align: right;
}

.appContainer {  
background-color: #f9f4a2;
padding-top: 4px;
}

A.appButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
text-decoration: none;
color: #070872;
background: #B4B0AA;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border: solid #070872 1px;
}

A.appButton:hover {
color: #a91930;
background: #FFFFFF;
border-top: solid #070872 1px;
border-right: solid #070872 1px;
border-left: solid #070872 1px;
border-bottom: solid #FFFFFF 1px;
}

A.appButtonSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: none;
color: #a91930;
background: #FFFFFF;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border-top: solid #070872 1px;
border-right: solid #070872 1px;
border-left: solid #070872 1px;
border-bottom: solid #FFFFFF 1px;
}
/* Apheaders END*/


DIV.simple-right-small {
float: right;
width: 20px;
text-align: right;
}

DIV.simple-right-half {
float: right;
width: 50%;
text-align: right;
}

DIV.screenlet {
background-color: #FFFFFF;
border: 1px solid #999999;
margin-bottom: 10px;
}

DIV.screenlet-body {
background-color: #FFFFFF;
padding: 4px;
}

#column-container {
position: relative;
background-color: #FFFFFF;
margin: auto;
width: 100%;
}

#column-container .left {
float: left; margin-right: 10px;
/* alt: position: absolute; top: 0px; left: 0px; */
width: 220px;
}
#column-container .right {
float: right; margin-left: 10px;
width: 220px;
}

#column-container .leftonly {
margin-left: 230px;
width: auto;
}
#column-container .rightonly {
margin-right: 230px;
width: auto;
}
#column-container .center {
margin-left: 230px;
margin-right: 230px;
width: auto;
}
#column-container .nocolumns {
width: auto;
}

DIV.column-left-wide {
float: left;
width: 300px;
background-color: #CCCCCC;
border: black solid 2px;
overflow: auto;
}

A.buttontext, .buttontextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
background: white;
border: #999999 solid 1px;
margin: 2px 2px 2px 2px;
padding: 1px 4px 1px 4px;
}

A.buttontext {
color: #000099;
}

A.buttontext:hover {
color: red;
text-decoration: underline;
}

