body {  font-family: Arial, Verdana, Helvetica, sans-serif; margin:0;font-size: 12px;}

h1 {font-size: 18px;}

h2 {font-size: 14px;}

div.cont {position:absolute; left: 160px; top: 129px; padding-right: 170px;}
div.cont p { font-size: 12px;}

div.tabletext { font-size: 12px;}

div.tabletext a, div.tabletext a:visited { text-decoration: none; color: #000;}


/*top layout*/
#logo {width: 780px; height: 111px;}
#rightTop {position: absolute; left: 780px; top: 0px; width: auto; height: 111px; background: url('/shop/html/images/tile_box.gif') repeat #476244;}
navHolder {position: relative; left: 0px; top: 0px; width: 100%; height: 18px; background: url('/shop/html/images/tile_holder.gif') repeat #476244; margin: 0px; padding: 0px;}
#corner { float: right; width: 19px; height: 15px;}
.rightTile {background: url('/shop/html/images/tile_holder.gif') repeat #476244;}

div.cartBox {float: right; margin-top: 36px; margin-right: 10px; width: auto; height: auto; background: #E1E6E1; font-size: 12px; padding: 4px;}
/*end top*/

/*left column styles*/
/*holder*/
div.leftCol {position: relative; top: 0px; background: url('/shop/html/images/gradient.jpg') repeat-x; width: 165px; height: 570px;}
/* the various link/selection styles*/
div.fliesHead {background: #3E2952; color: #FFF; height: 16px; border-bottom: solid 1px #000; font-weight: bold; font-size: 12px; text-align: center; border: 1px solid #999999;}

div.flies {display: block; border-bottom: solid 1px #000; text-align: center; background: #476244; color: #FFF; font-size: 12px;}
div.flies a, div.flies a:visited { display: block; padding-top: 2px; padding-bottom: 2px; background: #476244; color: #FFF; font-size: 12px; text-decoration: none;}
div.flies a:hover { display: block; color: #000;}
div.current {border-bottom: solid 1px #000; text-align: center;}
div.current a, div.current a:visited {display: block; padding-top: 2px; padding-bottom: 2px; background: #CCC; color: #000; font-size: 12px; text-decoration: none;}

div.regionalHead {background: #136714; color: #FFF; height: 16px; border-bottom: solid 1px #000; font-weight: bold; font-size: 12px; text-align: center;}
div.regional {border-bottom: solid 1px #000; text-align: center;}
div.regional a { display: block; padding-top: 2px; padding-bottom: 2px; background: #transparent; color: #FFF; font-size: 12px; text-decoration: none;}
div.regional a:hover { background: #999; color: #000;}

div.materialsHead {background: #DB9D0A; color: #FFF; height: 16px; border-bottom: solid 1px #000; font-weight: bold; font-size: 12px; text-align: center;}
div.materials {border-bottom: solid 1px #000; text-align: center;}
div.materials a { display: block; padding-top: 2px; padding-bottom: 2px; background: #transparent; color: #666; font-size: 12px; text-decoration: none;}
div.materials a:hover { background: #666; color: #FFF;}
/*end left*/

div.rightCol {float: right; text-align: center; background: url('/shop/html/images/gradient.jpg') repeat-x; width: 160px; height: 570px;}

div.promoHead {background: #F00; color: #FFF; width: 100px; height: 16px; border-bottom: solid 1px #000; font-weight: bold; font-size: 12px; text-align: center;}

div.endColumns { clear: both; }  

div.footer {position: relative; bottom: 0px; font-size: 10px; text-align: center;}

/* catalogue styles */
td.blk { background: #476244;; color: #FFF; font-size: 14px; font-weight: bold;}

div.leftProd {float: left; width: 260px; height: 90px; background: #000; border: solid 1px; color: black; margin-top: 10px;}

div.rightProd {float: right; width: 260px; height: 90px; background: #000; border: solid 1px; color: black; margin-top: 10px;}

td.sizes a, td.sizes a:visited {color: #FFF; font-size: 12px; font-weight: bold; text-decoration: none;}
td.sizes { background: #476244;; color: #FFF; text-align: right; font-size: 12px; font-weight: bold;}

td.desc {width: 100%; height: 100%; float: right; color: #FFFFFF; font-weight: normal; font-size: 12px;}

table.pageSelect td, table.pageSelect .selectBox { font-size: 10px; }

div.breadcrumbs { font-size: 11px; font-weight: bold; }
div.breadcrumbs a { color: #000; text-decoration: none; }
div.breadcrumbs a:hover { text-decoration: underline; }
/*product styles*/
table.product {font-size: 12px;}
table.product a, table.product a:visited {font-size: 12px; font-weight: bold; color: #000; text-decoration: none;}
table.product a:hover {color: #666;}

.inputBox {font-size: 10px; text-align: center; border: solid 1px #000;}









