
BODY {
background-color: #FFFFFF;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}

FORM {
margin: 0px;
}

UL {
#list-style-type: square; 
margin-top: 0; 
margin-bottom: 0;
}

.head1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px; font-size: large;
font-weight: bold;
color: #000099;
}

.head2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: medium;
font-weight: bold;
color: #000000;
}

.head3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: small;
font-weight: bold;
color: #000000;
}

.info {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: x-small;
font-style: normal;
color: #000000;
}

.tabletext {
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.contenttext {
font-size: small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.headerboxoutside {
background-color: white;
padding: 0;
}

.headerboxtop {
background-color: white;
padding: 4;
border-color: white;
border-style: solid;
border-width: 1px 1px 0px 1px;
}

.headerboxbottom {
background-color: white;
padding: 0;
border-color: white;
border-style: solid;
border-width: 0px 1px 1px 1px;
}

.boxhead {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: small;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

A.boxheadbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: small;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

A.boxheadbutton:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: small;
font-weight: bold;
text-decoration: none;
color: red;
}

.boxoutside {
background-color: white;
padding: 0px;
border-color: #999999;
border-style: solid;
border-width: 1px 1px 1px 1px;
}

.boxtop {
background-color: #000099;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 4px;
padding-left: 4px;
border-color: #999999;
border-style: solid;
border-width: 0px 0px 0px 0px;
}

.boxbottom {
background-color: white;
padding: 4px;
border-color: #999999;
border-style: solid;
border-width: 0px 0px 0px 0px;
}

.button {
border-style: outset; border-color: #9999CC; border-width: 2px;
background-color: #dddddd;
padding-right: 5px; padding-left: 5px;
}

.tabContainer {
background-color: #FFFFFF;
padding-top: 4px;
padding-bottom: 4px;
margin-bottom: 5px;
border-top: solid #CCCCCC 1px;
border-bottom: solid #CCCCCC 1px;
}

A.tabButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
background-color: #CCCCCC;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border: solid #999999 1px;
}

A.tabButton:hover {
color: black;
background-color: #CCCCFF;
border: solid #3333CC 1px;
}

A.tabButtonSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: #333333;
background-color: #CCCCFF;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border: solid #3333CC 1px;
}

A.tabButtonSelected:hover {
color: red;
}

.tableheadtext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: black;
}

A.tableheadbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: black;
}

A.tableheadbutton:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: underline;
color: red;
}

.browsecategorytext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
text-indent: -10px;
}

A.browsecategorybutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
}

A.browsecategorybutton:hover {
color: red;
}

.browsecategorybuttondisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: #333333;
}

A.buttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
}

A.buttontext:hover {
color: red;
}

A.headerbuttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: #000099;
}


A.headerbuttontext:hover {
color: red;
}

.buttontextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: #333333;
}

A.lightbuttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: yellow;
}

A.lightbuttontext:hover {
color: red;
}

.lightbuttontextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: #CCCCCC;
}

A.buttontextbig {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: medium;
font-weight: bold;
text-decoration: none;
color: blue;
}

A.buttontextbig:hover {
color: red;
}

A IMG.imageborder {
border-style: solid;
border-width: 1px;
border-color: #999999;
}

.headerButtonLeft {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
background-color: #CCCCCC;
border-right: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerButtonLeft:hover {
color: black;
background-color: #CCCCFF;
}

.headerButtonLeftSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
background-color: #999999;
border-right: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerButtonRight {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
background-color: #CCCCCC;
border-left: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerButtonRight:hover {
color: black;
background-color: #CCCCFF;
}

.headerButtonRightSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
background-color: #999999;
border-left: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerCenter {
background-color: #CCCCCC;
padding-right: 10px;
padding-left: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: #000000;
}

A.headerCenter {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
background-color: #CCCCCC;
padding-right: 10px;
padding-left: 10px;
}

A.headerCenter:hover {
color: black;
background-color: #CCCCFF;
}

.headerCenterSelected {
background-color: #999999;
padding-right: 10px;
padding-left: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: small;
font-weight: bold;
text-decoration: none;
color: #000000;
}

.headerCompanyName {
margin: 0px;
font-size: large;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000099;
white-space: nowrap;
}

.headerCompanySubtitle {
margin: 0px;
font-size: xx-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #330099;
white-space: nowrap;
}

.insideHeaderText {
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: black;
}

A.insideHeaderLink {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: blue;
}

A.insideHeaderLink:hover {
color: red;
}

.insideHeaderDisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
font-weight: bold;
text-decoration: none;
color: #666666;
}

.headersmalltext {
font-size: small; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font: bold; 
color: black;
}
a.headersmalllink {
font-size: small; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font: bold; 
color: blue; 
text-decoration: none;
}
a.headersmalllink:hover {
color: red;
}

HR.sepbar {
font-size: xx-small;
width: 100%;
height: 1px;
background-color: #999999;
border-width: 0px;
}

.errorMessage {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: small;
font-weight: bold;
color: red;
}

.eventMessage {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: small;
font-weight: bold;
color: blue;
}

.ontab {
font-size: small;
background-color: black;
padding: 2px;
border-style: inset;
border-width: 3px;
}

a.onlnk {
font-size: small;
font-weight: bold;
color: white;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
padding: 2px;
}

.offtab {
font-size: x-small;
background-color: #CCCCCC;
padding: 2px;
border-style: outset;
border-width: 3px;
}

a.offlnk {
font-size: x-small;
font-weight: bold;
color: blue;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
padding: 2px;
}

a.offlnk:hover {
color: red;
}

.areaheader {
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: white;
width: 100%;
background-color: black;
padding: 2px;
}

.edittable {
border-color: #000000 #000000 #003333;
border-style: solid;
border-top-width: thin;
border-right-width: thin;
border-bottom-width: thin;
border-left-width: thin
}

.viewOneTR1 {
background-color: #99CCFF;
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewOneTR2 {
background-color: #CCFFFF;
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyHeaderTR {
background-color: #99CCFF;
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyTR1 {
background-color: #99FFCC;
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyTR2 {
background-color: #CCFFCC;
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.editInputBox {
background-color: white;
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.basePrice {
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: black;
}

.normalPrice {
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: green;
}

.salePrice {
font-size: x-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: red;
}
