
BODY {
background-color: #D4D0C8;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

BODY.ecbody {
background-color: #FFFFFF;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}

FORM {
margin: 0px;
}

UL {
margin-top: 0; 
margin-bottom: 0;
}

.head1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px; 
font-size: 12pt;
font-weight: bold;
color: #000099;
}

.head2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 10pt;
font-weight: bold;
color: #000000;
}

.head3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
color: #000000;
}

.info {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 10px;
font-style: normal;
color: #000000;
}

DIV.graybox {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
background-color: #CCCCCC;
border: 1px solid #000000;
text-align: center;
margin: 2 auto;
width: auto;
padding: 4;
}

DIV.tabletexthidden {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
visibility: hidden;
}

A.tabletext, DIV.tabletext, SPAN.tabletext, P.tabletext, .tabletext {
font-size: 10px;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

A.tabletext:hover {
font-size: 10px;
text-decoration: underline;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tablebuttontext {
font-size: 10px;
color: #1E3C66;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.contenttext {
font-size: 8pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.headerboxoutside {
background-color: #FFFFFF;
padding: 0;
}

.headerboxtop {
background-color: #FFFFFF;
padding: 4;
border-color: #FFFFFF;
border-style: solid;
border-width: 1px 1px 0px 1px;
}

.headerboxbottom {
background-color: #FFFFFF;
padding: 0;
border-color: #FFFFFF;
border-style: solid;
border-width: 0px 1px 1px 1px;
}

.boxhead {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

A.boxheadbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

A.boxheadbutton:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: red;
}

.boxoutside {
background-color: #FFFFFF;
padding: 0px;
border-color: #999999;
border-style: solid;
border-width: 1px 1px 1px 1px;
}

.boxtop {
background-color: #000099;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 4px;
padding-left: 4px;
border-color: #999999;
border-style: solid;
border-width: 0px 0px 0px 0px;
}

.boxbottom {
background-color: #FFFFFF;
padding: 4px;
border-color: #999999;
border-style: solid;
border-width: 0px 0px 0px 0px;
}

.button {
border-style: outset; border-color: #9999CC; border-width: 2px;
background-color: #dddddd;
padding-right: 5px; padding-left: 5px;
}

.tabContainer {
background-color: #FFFFFF;
padding-top: 4px;
padding-bottom: 4px;
margin-bottom: 5px;
border-top: solid #CCCCCC 1px;
border-bottom: solid #CCCCCC 1px;
}

A.tabButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: #D4D0C8;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border: solid #000099 1px;
}

A.tabButton:hover {
color: #FFFFFF;
background-color: #000099;
border: solid #000099 1px;
}

A.tabButtonSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
background-color: #000099;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
border: solid #000099 1px;
}

A.tabButtonSelected:hover {
color: #FFFFFF;
border: solid #000099 1px;
}

.tableheadtext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: black;
}

A.tableheadbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: black;
}

A.tableheadbutton:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: underline;
color: red;
}

.browsecategorytext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
text-indent: -10px;
}

A.browsecategorybutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}

A.browsecategorybutton:hover {
color: #000099;
text-decoration: underline;
}

.browsecategorybuttondisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #333333;
}

A.buttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}

A.buttontext:hover {
color: #000099;
text-decoration: underline;
}

A.headerbuttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}


A.headerbuttontext:hover {
color: black;
text-decoration: underline;
}

.buttontextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #333333;
}

.submenutextinfo {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: white;
padding-left: 6px;
padding-right: 5px;
border-right: 1px solid #5886C6
}

.submenutext, A.submenutext, A.submenutext:visited, A.submenutext:checked {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: gold;
padding-left: 6px;
padding-right: 5px;
border-right: 1px solid #5886C6
}

A.submenutext:hover {
color: yellow;
text-decoration: underline;
}

.submenutextdisabled, A.submenutextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #CCCCCC;
padding-left: 6px;
padding-right: 5px;
border-right: 1px solid #5886C6
}

A.submenutextdisabled:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: underline;
color: yellow;
}

.submenutextinforight {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: white;
padding-left: 6px;
}

.submenutextright, A.submenutextright {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: gold;
padding-left: 6px;
}

A.submenutextright:hover {
color: yellow;
text-decoration: underline;
}

.submenutextrightdisabled, A.submenutextrightdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #CCCCCC;
padding-left: 6px;
}

A.submenutextrightdisabled:hover {
text-decoration: underline;
color: yellow;
}

A.lightbuttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: gold;
border: none;
}

A.lightbuttontext:hover {
color: yellow;
text-decoration: underline;
}

A.lightbuttontextsmall {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8px;
font-weight: bold;
text-decoration: none;
color: gold;
border: none;
}

A.lightbuttontextsmall:hover {
color: yellow;
text-decoration: underline;
}

.lightbuttontextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #CCCCCC;
}

A.buttontextbig {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
text-decoration: none;
color: #000099;
}

A.buttontextbig:hover {
color: red;
}

.buttontextbigdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
text-decoration: none;
color: CCCCCC;
}

A IMG.imageborder {
border-style: solid;
border-width: 1px;
border-color: #999999;
}

.headerButtonLeft {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: #B4B0AA;
border-right: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerButtonLeft:hover {
background-color: #D4D0C8;
color: black;
text-decoration: underline;
}

.headerButtonLeftSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: #D4D0C8;
border-right: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerButtonRight {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: #B4B0AA;
border-left: solid white 1px;
padding-right: 10px;
padding-left: 10px;
text-align: right;
}

.headerButtonRight:hover {
background-color: #D4D0C8;
color: black;
text-decoration: underline;
}

.headerButtonRightSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: #D4D0C8;
border-left: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerCenter {
background-color: #B4B0AA;
padding-right: 10px;
padding-left: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000000;
}

A.headerCenter {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: #D4D0C8;
padding-right: 10px;
padding-left: 10px;
}

A.headerCenter:hover {
background-color: #D4D0C8;
color: black;
text-decoration: underline;
}

.headerCenterSelected {
background-color: #D4D0C8;
padding-right: 10px;
padding-left: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #000000;
}

.headerCompanyName {
margin: 0px;
font-size: 12pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000099;
white-space: nowrap;
}

.headerCompanySubtitle {
margin: 0px;
font-size: xx-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #330099;
white-space: nowrap;
}

.insideHeaderText {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: black;
}

A.insideHeaderLink {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}

A.insideHeaderLink:hover {
color: black;
text-decoration: underline;
}

.insideHeaderDisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #666666;
}

.headersmalltext {
font-size: 8pt; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font: bold; 
color: black;
}
a.headersmalllink {
font-size: 8pt; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font: bold; 
color: #000099; 
text-decoration: none;
}
a.headersmalllink:hover {
color: red;
}

HR.sepbar {
font-size: xx-small;
width: 100%;
height: 1px;
background-color: #999999;
border-width: 0px;
}

.errorMessage {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
color: red;
}

.eventMessage {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
color: #000099;
}

.ontab {
font-size: 8pt;
background-color: black;
padding: 2px;
border-style: inset;
border-width: 3px;
}

a.onlnk {
font-size: 8pt;
font-weight: bold;
color: #FFFFFF;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
padding: 2px;
}

.offtab {
font-size: 10px;
background-color: #CCCCCC;
padding: 2px;
border-style: outset;
border-width: 3px;
}

a.offlnk {
font-size: 10px;
font-weight: bold;
color: #000099;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
padding: 2px;
}

a.offlnk:hover {
color: red;
}

.areaheader {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #FFFFFF;
width: 100%;
background-color: black;
padding: 2px;
}

.edittable {
border-color: #000000 #000000 #003333;
border-style: solid;
border-top-width: thin;
border-right-width: thin;
border-bottom-width: thin;
border-left-width: thin
}

.viewOneTR1 {
background-color: #B4B0AA;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewOneTR2 {
background-color: #D4D0C8;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyHeaderTR {
background-color: #99CCFF;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyTR1 {
background-color: #D4D0C8;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyTR2 {
background-color: #FFFFFF;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.editInputBox {
background-color: #FFFFFF;
font-size: 8pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.inputBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #FFFFFF;
font-size: 8pt;
}

.selectBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #FFFFFF;
font-size: 8pt;
}

.textAreaBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #FFFFFF;
font-size: 8pt;
}

.radioButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #FFFFFF;
font-size: 8pt;
}

.checkBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #FFFFFF;
font-size: 8pt;
}

.smallSubmit {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: white;
border: #999999 solid 1px;
}

.mediumSubmit,.largeSubmit,.loginButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
text-decoration: none;
color: #000099;
background-color: white;
border: #999999 solid 1px;
}

.smallSubmit:hover,.mediumSubmit:hover,.largeSubmit:hover,.loginButton:hover {
color: red;
}

.smallAltSubmit,.mediumAltSubmit,.largeAltSubmit {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
}

.basePrice {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: black;
}

.normalPrice {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: green;
}

.salePrice {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: red;
}
