
DIV.column-left-wide {
float: left;
width: 300px;
background-color: #CCCCCC;
border: black solid 2px;
overflow: auto;
}

.treewrapper {
margin-left: 10pt;
}

.treeitem {
color: blue;
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
border: #888888 solid 1px;
}

DIV.centerarea {
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
}

.whitearea {
background-color: #FFFFFF;
}

.blackarea {
background-color: #000000;
}

.mainblock {
background-color: #D4D0C8;
vertical-align: top;
}

.tabdownblock {
background-color: #B4B0AA;
}

.tabdowncenter {
font-family: Arial, Helvetica, sans-serif;
background-image: url(/images/tabs/tab_down_fill.gif);
background-color: #B4B0AA;
font-size: 15pt;
text-align: center;
vertical-align: middle;
color: #000000;
}

.tabdownleft {
background-image: url(/images/tabs/tab_down_left.gif);
background-color: #B4B0AA;
	
}

.tabdownright {
background-image: url(/images/tabs/tab_down_right.gif);
background-color: #B4B0AA;
}

.tabupcenter {
font-family: Arial, Helvetica, sans-serif;
background-image: url(/images/tabs/tab_up_fill.gif);
background-color: #D4D0C8;	
font-size: 15pt;
text-align: center;
vertical-align: middle;
color: #000000;
}

.tabupleft {
background-image: url(/images/tabs/tab_up_left.gif);
background-color: #D4D0C8;    
border-width: 0px;
padding: 0px;
}

.tabupright {
background-image: url(/images/tabs/tab_up_right.gif);
background-color: #D4D0C8;
}

A.tablink,A.tablink:hover,A.tablinkselected,A.tablinkselected:hover {	
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-align: center;
text-decoration: none;
color: #000000;
}

A.tablink:hover,A.tablink:active,A.tablinkselected {
color: #000099;
}

.apptitle {
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #000099;	
line-height: 2;
font-size: 10pt;
font-weight: bold;
color: #FFFFFF;	
}

DIV.row {  
background-color: #B4B0AA;
margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto;
padding: 0; text-align: center;
}

DIV.col {
border: none; float: left; margin: 0; padding: 0; width: auto;
}

DIV.col-fill {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px; font-weight: bold; text-decoration: none;
background-color: #B4B0AA; color: #000099;
margin: 0; padding: 0; border: none; float: center; width: 0;
}

DIV.col-right {
border: none; float: right; margin: 0; padding: 0; width: auto;
}

DIV.contentarea {
background-color: #FFFFFF;
border: solid black 1px;
margin-top: 10px;
padding: 10px;
}

div.spacer {
  clear: both;
}  

DIV.simple-right-small {
float: right;
width: 20px;
text-align: right;
}

DIV.screenlet {
background-color: #FFFFFF;
border: 1px solid #999999;
margin-bottom: 10px;
}
DIV.screenlet-header {
background-color: #000099;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 4px;
padding-left: 4px;
}
DIV.screenlet-body {
background-color: #FFFFFF;
padding: 4px;
}

DIV.column-container {
background-color: #FFFFFF;
margin: auto;
width: auto;
}
DIV.column-left {
float: left;
margin-right: 10px;
width: 220px;
}
DIV.column-main {
width: auto;
}
DIV.column-right {
float: right;
margin-left: 10px;
width: 220px;
}

