  BODY {background-color: white; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;}
  FORM {margin: 0px;}
  P {margin: 0.2em; font-family: Helvetica,sans-serif; font-size: small;}

  .head1 {font-family: Helvetica,sans-serif; margin: 0px; font-size: large; font-weight: bold; COLOR: #336633;}
  .head2 {font-family: Helvetica,sans-serif; margin: 0px; font-size: medium; font-weight: bold; COLOR: #000000;}
  .head3 {font-family: Helvetica,sans-serif; margin: 0px; font-size: small; font-weight: bold; COLOR: #000000;}
  .info {font-family: Helvetica,sans-serif; margin: 0px; font-size: x-small; font-style: normal; COLOR: #000000;}
  .tabletext {FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  
  .headerboxoutside {background-color: white; padding: 0;}
  .headerboxtop {background-color: #006633; padding: 4; border-color: #000000; border-style: solid; border-width: 1px 1px 1px 1px;}
  .headerboxbottom {background-color: #CCCC99; padding: 0; border-color: #000000; border-style: solid; border-width: 0px 1px 1px 1px;}

  .boxhead {font-family: Helvetica,sans-serif; margin: 0px; font-size: small; font-weight: bold; COLOR: #FFFFFF; }
  .boxoutside {background-color: white; padding: 0; border-color: #000000; border-style: solid; border-width: 1px 1px 1px 1px;}
  .boxtop {background-color: #006633; padding: 4; border-color: #000000; border-style: solid; border-width: 0px 0px 1px 0px;}
  .boxbottom {background-color: white; padding: 4; border-color: #000000; border-style: solid; border-width: 0px 0px 0px 0px;}

  .button {border-style: outset; border-color: #9999CC; border-width: 2px; background-color: #dddddd; padding-right: 5px; padding-left: 5px;}
  A.buttontext {font-family: Helvetica,sans-serif; font-size: x-small; font-weight: bold; text-decoration: none; color: blue; }
  A.buttontext:hover {color: red;}
  .buttontextdisabled {font-family: Helvetica,sans-serif; font-size: x-small; font-weight: bold; text-decoration: none; color: #333333; }
  A.lightbuttontext {font-family: Helvetica,sans-serif; font-size: x-small; font-weight: bold; text-decoration: none; color: yellow;}
  A.lightbuttontext:hover {color: red;}
  .lightbuttontextdisabled {font-family: Helvetica,sans-serif; font-size: x-small; font-weight: bold; text-decoration: none; color: #CCCCCC;}
  A.buttontextbig {font-family: Helvetica,sans-serif; font-size: medium; font-weight: bold; text-decoration: none; color: blue; }
  A.buttontextbig:hover {color: red;}

  A IMG.imageborder {border-style: solid; border-width: 1px; border-color: black;}

  .headerButtonLeft {BORDER-RIGHT: solid white 1px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px;}
  .headerButtonLeft:hover {background-color: #EEEECC}
  .headerButtonRight {BORDER-LEFT: solid white 1px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px;}
  .headerButtonRight:hover {background-color: #EEEECC}
  .headerCenter {PADDING-RIGHT: 10px; PADDING-LEFT:10px; font-size: small; font-weight: bold; COLOR: #000000;}
  .headerCompanyName {margin: 0px; font-size: x-large; font-weight: bold; color: white; white-space: nowrap;}
  .headerCompanySubtitle {margin: 0px; font-size: xx-small; color: white; white-space: nowrap; }

  .insideHeaderText {FONT-SIZE: small; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white;}
  A.insideHeaderLink {font-family: Helvetica,sans-serif; font-size: x-small; font-weight: bold; text-decoration: none; color: yellow;}
  A.insideHeaderLink:hover {color: red;}
  .insideHeaderDisabled {font-family: Helvetica,sans-serif; font-size: x-small; font-weight: bold; text-decoration: none; color: #CCCCCC;}

  HR.sepbar {width: 100%; height: 1px; background-color: #999999; border-width: 0px;}

  .errorMessage {font-family: Helvetica,sans-serif; margin: 0px; font-size: small; font-weight: bold; COLOR: red;}
  .eventMEssage {font-family: Helvetica,sans-serif; margin: 0px; font-size: small; font-weight: bold; COLOR: blue;}

  .ontab {FONT-SIZE: small; background-color: black; padding: 2px; border-style: inset; border-width: 3px;}
  a.onlnk {FONT-SIZE: small; font-weight: bold; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; padding: 2px;}
  .offtab {FONT-SIZE: x-small; background-color: #CCCCCC; padding: 2px; border-style: outset; border-width: 3px;}
  a.offlnk {FONT-SIZE: x-small; font-weight: bold; COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; padding: 2px;}
  a.offlnk:hover {COLOR: red;}
  .areaheader {FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight: bold; color: white; width: 100%; background-color: black; padding: 2px;}

  .edittable {border-color: #000000 #000000 #003333; border-style: solid; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin}
  .viewOneTR1 {background-color: #99CCFF; FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewOneTR2 {background-color: #CCFFFF; FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewManyHeaderTR {background-color: #99CCFF; FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewManyTR1 {background-color: #99FFCC; FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewManyTR2 {background-color: #CCFFCC; FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif;}

  .editInputBox {background-color: white; FONT-SIZE: x-small; FONT-FAMILY: Arial, Helvetica, sans-serif;}
