<style>
  form {margin: 0;}
  p {margin: 0.2em; font-family: Helvetica,sans-serif; font-size: 10pt;}

  .head1 {font-family: Helvetica,sans-serif; margin: 0; font-size: 15pt; font-weight: bold; COLOR: #3A4C37;}
  .head2 {font-family: Helvetica,sans-serif; margin: 0; font-size: 12pt; font-weight: bold; COLOR: #000000;}
  .head3 {font-family: Helvetica,sans-serif; margin: 0; font-size: 10pt; font-weight: bold; COLOR: #000000;}
  .tabletext {FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif;}

  .boxhead {font-family: Helvetica,sans-serif; margin: 0; font-size: 12pt; font-weight: bold; COLOR: #FFFFFF; }

  .button	{border-style: outset; border-color: #9999CC; border-width: 2px; background-color: #dddddd; padding-right: 5px; padding-left: 5px;}
  A.buttontext {font-family: Helvetica,sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none; color: blue; }
  A.buttontext:hover {color: red;}
  .buttontextdisabled {font-family: Helvetica,sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none; color: #333333; }
  A.lightbuttontext {font-family: Helvetica,sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none; color: yellow;}
  A.lightbuttontext:hover {color: red;}
  .lightbuttontextdisabled {font-family: Helvetica,sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none; color: #CCCCCC;}
  A.buttontextbig {font-family: Helvetica,sans-serif; font-size: 14pt; font-weight: bold; text-decoration: none; color: blue; }
  A.buttontextbig:hover {color: red;}

  .ontab {FONT-SIZE: 10pt; background-color: black; padding: 2; border-style: inset; border-width: 3;}
  a.onlnk {FONT-SIZE: 10pt; FONT: bold; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none; padding: 2;}
  .offtab {FONT-SIZE: 9pt; background-color: #CCCCCC; padding: 2; border-style: outset; border-width: 3;}
  a.offlnk {FONT-SIZE: 9pt; FONT: bold; COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;padding: 2;}
  a.offlnk:hover {COLOR: red;}
  .areaheader {FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT: bold; color: white; width: 100%; background-color: black; padding: 2;}

  .viewOneTR1 {background-color: #99CCFF; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewOneTR2 {background-color: #CCFFFF; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewManyHeaderTR {background-color: #99CCFF; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewManyTR1 {background-color: #99FFCC; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif;}
  .viewManyTR2 {background-color: #CCFFCC; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif;}

  .editInputBox {background-color: white; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif;}

  A IMG.imageborder {border-style: solid; border-width: 1; border-color: black;}
</style>
