
  BODY {
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  FORM {
    margin: 0px;
  }

  UL {
    #list-style-type: square; 
    margin-top: 0; 
    margin-bottom: 0;
  }

  .head1 {
    font-family: Helvetica,sans-serif;
    margin: 0px; font-size: large;
    font-weight: bold;
    color: #000099;
  }

  .head2 {
    font-family: Helvetica,sans-serif;
    margin: 0px;
    font-size: medium;
    font-weight: bold;
    color: #000000;
  }

  .head3 {
    font-family: Helvetica,sans-serif;
    margin: 0px;
    font-size: small;
    font-weight: bold;
    color: #000000;
  }

  .info {
    font-family: Helvetica,sans-serif;
    margin: 0px;
    font-size: x-small;
    font-style: normal;
    color: #000000;
  }

  .tabletext {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .contenttext {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .headerboxoutside {
    background-color: white;
    padding: 0;
  }

  .headerboxtop {
    background-color: white;
    padding: 4;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
  }

  .headerboxbottom {
    background-color: #CCCCCC;
    padding: 0;
    border-color: white;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
  }

  .boxhead {
    font-family: Helvetica,sans-serif;
    margin: 0px;
    font-size: small;
    font-weight: bold;
    color: #FFFFFF;
  }

  .boxoutside {
    background-color: white;
    padding: 0px;
    border-color: #999999;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
  }

  .boxtop {
    background-color: #6666CC;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    padding-left: 4px;
    border-color: #999999;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
  }

  .boxbottom {
    background-color: white;
    padding: 4px;
    border-color: #999999;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
  }

  .button {
    border-style: outset;
    border-color: #9999CC;
    border-width: 2px;
    background-color: #dddddd;
    padding-right: 5px;
    padding-left: 5px;
  }

  A.buttontext {
    font-family: Helvetica,sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    color: blue;
  }

  A.buttontext:hover {
    color: red;
  }

  .buttontextdisabled {
    font-family: Helvetica,sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
  }

  A.lightbuttontext {
    font-family: Helvetica,sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    color: yellow;
  }

  A.lightbuttontext:hover {
    color: red;
  }

  .lightbuttontextdisabled {
    font-family: Helvetica,sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    color: #CCCCCC;
  }

  A.buttontextbig {
    font-family: Helvetica,sans-serif;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: blue;
  }

  A.buttontextbig:hover {
    color: red;
  }

  A IMG.imageborder {
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
  }

  .headerButtonLeft {
    background-color: #CCCCCC;
    border-right: solid white 1px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .headerButtonLeft:hover {
    background-color: #EEEECC
  }

  .headerButtonLeftSelected {
    background-color: #999999;
    border-right: solid white 1px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .headerButtonRight {
    background-color: #CCCCCC;
    border-left: solid white 1px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .headerButtonRight:hover {
    background-color: #EEEECC
  }

  .headerButtonRightSelected {
    background-color: #999999;
    border-left: solid white 1px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .headerCenter {
    background-color: #CCCCCC;
    padding-right: 10px;
    padding-left: 10px;
    font-size: small;
    font-weight: bold;
    color: #000000;
  }

  .headerCenterSelected {
    background-color: #999999;
    padding-right: 10px;
    padding-left: 10px;
    font-size: small;
    font-weight: bold;
    color: #000000;
  }

  .headerCompanyName {
    margin: 0px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #330099;
    white-space: nowrap;
  }

  .headerCompanySubtitle {
    margin: 0px;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: #330099;
    white-space: nowrap;
  }

  .insideHeaderText {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  A.insideHeaderLink {
    font-family: Helvetica,sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    color: blue;
  }

  A.insideHeaderLink:hover {
    color: red;
  }

  .insideHeaderDisabled {
    font-family: Helvetica,sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    color: #666666;
  }

  .headersmalltext {
    font-size: small; 
    font-family: Arial, Helvetica, sans-serif; 
    font: bold; 
    color: black;
  }
  a.headersmalllink {
    font-size: small; 
    font-family: Arial, Helvetica, sans-serif;
    font: bold; 
    color: blue; 
    text-decoration: none;
  }
  a.headersmalllink:hover {
    color: red;
  }

  HR.sepbar {
    width: 100%;
    height: 1px;
    background-color: #999999;
    border-width: 0px;
  }

  .errorMessage {
    font-family: Helvetica,sans-serif;
    margin: 0px;
    font-size: small;
    font-weight: bold;
    color: red;
  }

  .eventMessage {
    font-family: Helvetica,sans-serif;
    margin: 0px;
    font-size: small;
    font-weight: bold;
    color: blue;
  }

  .ontab {
    font-size: small;
    background-color: black;
    padding: 2px;
    border-style: inset;
    border-width: 3px;
  }

  a.onlnk {
    font-size: small;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 2px;
  }

  .offtab {
    font-size: x-small;
    background-color: #CCCCCC;
    padding: 2px;
    border-style: outset;
    border-width: 3px;
  }

  a.offlnk {
    font-size: x-small;
    font-weight: bold;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 2px;
  }

  a.offlnk:hover {
    color: red;
  }

  .areaheader {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 100%;
    background-color: black;
    padding: 2px;
  }

  .edittable {
    border-color: #000000 #000000 #003333;
    border-style: solid;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin
  }

  .viewOneTR1 {
    background-color: #99CCFF;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .viewOneTR2 {
    background-color: #CCFFFF;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .viewManyHeaderTR {
    background-color: #99CCFF;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .viewManyTR1 {
    background-color: #99FFCC;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .viewManyTR2 {
    background-color: #CCFFCC;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .editInputBox {
    background-color: white;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .basePrice {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  .normalPrice {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
  }

  .salePrice {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
  }
